:root {
    --bullet-new-color: purple; 
}

/* level 1 - large bullet */
ul:not(li > *) > li > .list-bullet::after,
.HyperMD-list-line-1 .list-bullet:after {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--highlight);
} 

/* level 2 - hyphen */
ul:not(li > *) > li > ul > li > .list-bullet::after,
.HyperMD-list-line-2 .list-bullet:after {
    height: 1px;
    width: 7px;
    border-radius: 0%;
    text-justify: right;
    background-color: var(--primary);
} 

/* level 3 - hollow bullet */
ul:not(li > *) > li > ul > li > ul > li> .list-bullet::after,
.HyperMD-list-line-3 .list-bullet:after {
    height: 4px;
    width: 4px;
    background-color: transparent;
    border-color: var(--bullet-new-color);
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
} 
